.footer-wrapper {
    position: absolute;
    bottom: 5vh;
    left: 16.5vw;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content:flex-start;
    z-index: 9999;
}

#logo-footer {
    width: 5rem;
    cursor: pointer;
    z-index: 99;
    transform: rotate(90deg);
    transition: all .4s;
}

#logo-footer:hover {
    transform: rotate(0deg);
}
@media (max-width: 1300px) {
    .footer-wrapper{
        left: unset;
        gap: 1rem;
        justify-content: center;
    }
  
    #logo-footer {
        transform: rotate(0deg);
        filter: invert(1);
        width: 3rem;
        opacity: .6;
        padding-bottom: 1.6rem;
    }
}

@media (max-width: 1000px) {
    .footer-wrapper{
        top: 55vh;
    }
}

