<div class="footer-content animate__animated animate__bounceInUp">
  <a target="_blank"href="https://github.com/samuelvictorol">
    <img  src="assets/github.svg" alt="">
  </a>
  <a target="_blank" href="https://www.linkedin.com/in/samuel-victor-samvctr/">
    <img src="assets/linkedin.svg" alt="">
  </a>
  <a target="_blank" routerLink="contato">
    <img  src="assets/email.svg" alt="">
  </a>
  <a target="_blank" href="https://www.instagram.com/samuelvictorr__">
    <img  src="assets/insta.svg" alt="">
  </a>
</div>
