.contato-wrapper {
    width: 100vw;
    height: 92vh;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #292929, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5vh;
}

.text-contact {
    width: 100vw;
    height: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1-contact {
    margin-top: 8vh;
    padding: 3vh 0px 3vh 0px;
    text-align: center;
    color: #000000;
    width: 100vw;
    background-color: #ffffff;
    z-index: 99999;

}

.h2-contact {
    color: #e7e7e7;
    text-align: center;
    font-size: 3vh;
    opacity: .6;
    width: 50%;
}

.contact-form {
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

input, textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px dashed black;
    text-decoration: none;
    background: #000000a6;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    transition: all .2s;
    height: 5vh;
    font-size: 1.4rem;
    padding-left: .5vw;
    color: #c0ebff;
}

input::placeholder, textarea::placeholder {
    color: #b9b9b9;
    opacity: .5;
    padding-left: 1vw;
}

textarea {
    padding-top: 1vh;
    min-width: 50vw;
    max-width: 50vw;
    min-height: 20vh;
    max-height: 20vh;
}

input:focus, textarea:focus {
    box-shadow: 0 0 0 0;
    border-bottom: 4px solid #313131;
    outline: 0;
    border-radius: 8px;
    padding-left: 1rem;
}

#btn-submit {
    border: none;
    border-radius: 8px;
    height: 8vh;
    width: calc(100% + .5vw);
    cursor: pointer;
    background-color: transparent;
    transition: all .2s;
    color: rgba(255, 255, 255, 0.726);
    border: 4px solid black;
    padding-left: 0vw;
    font-size: 2rem;
    font-weight: bolder;
    font-family: "Space Grotesk", sans-serif;
}

#btn-submit:hover {
    opacity: 1;
    color: white;
    border-color: white;
}

@media (max-width: 450px) {
    .contato-wrapper {
        height: 92vh;
        background: #000000;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #302f2f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }
    .contact-form {
        width: 70vw;
        margin-top: 4vh;
        margin-bottom: 10vh;
    }
    .text-contact {
        padding-top: 2vh;
    }
    .h1-contact{
        margin-top: 0vh;
        font-size:4vh;
    }
    .h2-contact{
        font-size: 2.5vh;
        width: 80%;
        margin:unset;
    }
    #btn-submit {
        width: 110%;
        font-size: 1.5rem;
    }
    textarea {
        padding-top: 1vh;
        min-width: 70vw;
        max-width: 70vw;
        min-height: 20vh;
        max-height: 20vh;
    }
    
}