.contato-wrapper {
    width: 100vw;
    height: 100vh;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 8vh;
}

.text-contact {
    padding-top: 20vh;
    width: 80vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.h1-contact {
    font-family: 'Gloock', serif;
    font-size: 5rem;
    margin: 0;
    text-align: center;
}

.h2-contact {
    text-align: center;
    font-size: 2vh;
    opacity: .4;
    margin-bottom: 6vh;
}

.contact-form {
    height: 70vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

input, textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px dashed black;
    text-decoration: none;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    transition: all .4s;
    height: 8vh;
    font-size: 1.4rem;
}

input::placeholder, textarea::placeholder {
    color: #292929;
    opacity: .4;
    padding-left: 1vw;
}

textarea {
    padding-top: 1vh;
    min-width: 80vw;
    min-height: 20vh;
    max-width: 80vw;
    max-height: 20vh;
}

input:focus, textarea:focus {
    box-shadow: 0 0 0 0;
    border: 2px solid rgba(0, 0, 0);
    outline: 0;
    border-radius: 8px;
    padding-left: 1rem;
}

#btn-submit {
    border: none;
    border-radius: 8px;
    height: 8vh;
    width: 100%;
    cursor: pointer;
    background-color: #6b6b6b;
    transition: all .2s;
    color: #fff;
}

#btn-submit:hover {
    background-color: #4e4e4e;
    color: #979797;
}

@media (max-width: 450px) {
    .contato-wrapper {
        height: 110vh;
    }
    .contact-form {
        margin-top: 4vh;
        margin-bottom: 10vh;
    }
    .h1-contact  {
        font-size: 4rem;
    }
    #btn-submit {
        background-color: #e3e3e3;
        opacity: 1;
    }
}