<div class="sobre-wrapper animate__animated animate__fadeIn animate__faster">
    <div class="container-sobre">
        <div class="sobre-text animate__animated animate__fadeInDown">
            <h1 style="text-align:center">Olá, {{ saudacao }}!</h1>
            <p style="text-align:center;font-size:1rem">
                Sou Analista e Desenvolvedor de Software especialista em criação de sistemas como serviço utilizando a nuvem.<br><br>
                Tenho experiencia em arquitetura e infraestrutura de software, desenvolvimento e manutenção de servidores backend, criação de indentidade visual, telas e protótipos utilizando princípios de UI/UX, responsividade e escalabilidade.
                Possuo integração contínua, metodologias ágeis, testes de software, criptografia, ambientes na nuvem, levantamento de requisitos, modelagem e integração com banco de dados, raspagem de dados,
                manutenção e automação de serviços como habilidades técnicas.
                <br>
            </p>
            <p style="text-align:center;font-size:1rem">
                Possuo 4 anos como profissional de software em diversos projetos de bancos de grande porte como CAIXA e Banco da Amazônia e no aplicativo do SUS no Brasil, o AGHU. Além de 6 anos de projetos acadêmicos e pessoais em diversos segmentos. 
                Para essas jornadas de prototipação e desenvolvimento, utilizei tecnologias como Angular, Vue, Node, Spring, Express, SQL e NoSQL, FIGMA, Docker, Amazon Web Services, Git, entre outras e linguagens de programação como Javascript, Typescript, Java e Python.
            </p>
            <p style="text-align:center" id="my-name">Samuel Victor</p>
            <div class="btns-wrapper">
                <button class="btn-sobre" id="btn-port" (click)="navService.mouseIn('portfolio', false)">Ver Portfólio</button>
                <button class="btn-sobre" id="btn-contato" (click)="navService.mouseIn('contato', false)">Fale Comigo</button>
            </div>
            <div class="svgs-wrapper">

            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="line"></div>
</div>
<div class="fale-comigo">
    <div class="icon-text">
        <a target="_blank" href="https://wa.me/5561981748795?text=Ola,%20Samuel.%20Gostaria%20de%20fazer%20um%20orçamento%20de%20Desenvolvimento%20de%20Software.%20">
            <img class="fale-comigo-logo" id="wpp-svg" src="assets/wpp.svg" alt="logo whatsapp">
        </a>
        <a class="a-falecmg" target="_blank" href="https://wa.me/5561981748795?text=Ola,%20Samuel.%20Gostaria%20de%20fazer%20uma%20proposta%20de%20Desenvolvimento%20de%20Software.%20">Me Envie uma Mensagem</a>
    </div>
    <div class="icon-text">
        <a href="https://github.com/samuelvictorol" target="_blank">
            <img class="fale-comigo-logo" id="wpp-svg" src="assets/github.svg" alt="logo whatsapp">
        </a>
        <a class="a-falecmg" href="https://github.com/samuelvictorol" target="_blank">samuelvictorol</a>
    </div>
    <div class="icon-text">
        <a href="">
            <img class="fale-comigo-logo" id="wpp-svg" src="assets/linkedin.svg" alt="logo whatsapp">
        </a>
        <a class="a-falecmg" target="_blank"  href="https://www.linkedin.com/in/samuel-victor-samvctr/">Samuel Victor</a>
    </div>
    <div class="icon-text">
        <img (click)="navService.mouseIn('contato', false)" class="fale-comigo-logo" id="wpp-svg" src="assets/email.svg" alt="logo whatsapp">
        <a class="a-falecmg" (click)="navService.mouseIn('contato', false)">Me Envie um Email</a>
    </div>
</div>
<app-end></app-end>
