
.line{
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #424242be;
  overflow: hidden
}

.line::after{
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(105, 105, 105, 0.452) 0%, #ffffff 75%, #c2c2c2 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1){
    margin-left: -25%}
.line::after{
    animation-delay: 2s
}  
.line:nth-child(3){
    margin-left: 25%
}
.line::after{
    animation-delay: 2.5s
}    
@keyframes drop
{ 
0%{
    top: -50%
}100%{
    top: 110%
}
}

.sobre-wrapper {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2, #b1b1b1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2, #b1b1b1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    animation-duration: .8s;
}

.container-sobre {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sobre-text {
    background-color: #141414b9;
    border-radius: 6px;
    max-width: 35vw;
    z-index: 999;
    padding: 0 20px;
    position: relative;
    animation-duration: 1s;
    padding-bottom: 4vh;
    backdrop-filter: blur( 4px );
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.555);
}

h1{
    color: #dadada;
    margin: 0 0;
    padding: 2vh 0 0 0;
    font-family: "Space Grotesk", sans-serif;

}


p{
    padding-bottom: 2vh;
    font-size: 2vh;
    color: #e7e6e6;
    opacity: .8;
    line-height: 1.5;
}

#my-name {
    padding-bottom: 0vh;
    font-style: italic;
    font-size: 2.2vh;
    font-weight: bold;
    color: rgb(177, 177, 177);
}

h1::selection, p::selection {
    color: #fff;
    background-color: #3b6969d2;
}

.img-sobre{
    animation-duration: 2s;
    z-index: 999;
    width: 26vw;
    height: 55vh;
    border-top: 7px double #424242be;
    border-bottom: 7px double #424242be;
    border-radius: 120px;
}

.filter-none{
    filter: none;
}

.btns-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.btn-sobre {
    background-color: rgb(245, 245, 245);
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 6px 12px;
    opacity: .8;
    transition: all .1s;
    color: #353535f8;
    font-weight: bold;
    font-size: 2vh;
    border: 3px solid rgb(41, 41, 41);
}


.btn-sobre:hover {
    transform: scale(1.02);
    opacity: 1;
}

@media (max-width: 1000px) {  
    .sobre-wrapper {
        height: 160vh;
    }

    .container-sobre {
        padding-top: 1vh;
        gap: 6vh;
    }

    .line, .line::after{
        z-index: -999;
    }

    .sobre-text {
        // margin: 10vh auto; 
        max-width: 100vw;  
        border-radius: 0;
        z-index: 9999;
    }    
    .img-sobre{
        width: 95vw;
        height: 60vh;
        top: 75vh;
        left: 0vw;
        background: #30303009;
        backdrop-filter: blur( 2px );
        -webkit-backdrop-filter: blur( 3px );
    }
    #btn-cv {
        right: 1rem;
    }

}

@media (max-width: 1200px) {
    
    .btn-sobre:last-child{
        margin-top: 3.2vh;
    }

    .btn-sobre {
        font-size:2.5vh;
    }

}