<div class="nav-wrapper animate__animated animate__slideInDown">
  <a id="home" (mouseenter)="navService.mouseIn('home', false)" routerLink="home">Home</a>
  <a id="sobre" (mouseenter)="navService.mouseIn('sobre', false)" routerLink="sobre">Sobre</a>
  <a id="portfolio" (mouseenter)="navService.mouseIn('portfolio', false)" routerLink="portfolio">Portfólio</a>
  <a id="contato" (mouseenter)="navService.mouseIn('contato', false)" routerLink="contato">Contato</a>
</div>

<div class="trace-wrapper" (click)="navService.responsiveNav()">
  <div class="trace"></div>
  <div class="trace"></div>
  <div class="trace"></div>
</div>

<div class="nav-responsive">
  <a id="home-responsive" class="nav-link-responsive" (click)="navService.mouseIn('home', true)" routerLink="home">Home</a>
  <a id="sobre-responsive" class="nav-link-responsive" (click)="navService.mouseIn('sobre', true)" routerLink="sobre">Sobre</a>
  <a id="portfolio-responsive" class="nav-link-responsive" (click)="navService.mouseIn('portfolio', true)" routerLink="portfolio">Portfólio</a>
  <a id="contato-responsive" class="nav-link-responsive" (click)="navService.mouseIn('contato', true)" routerLink="contato">Contato</a>
</div>
