.nav-wrapper {
  z-index: 99;
  position: fixed;
  width: 100vw;
  padding: 2vh 0;
  height: var(--nav-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: all 0.2s;
  background: #000000ad;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 5px );
}

a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.1s;
  cursor: zoom-in;
}

.a-selected {
  padding-bottom: .2rem;
  border-bottom: 2px solid #ffffffd8;
}

.a-selected-responsive {
  padding-bottom: .2rem;
  border: 3px solid #555555;
}


.trace-wrapper {
  z-index: 99999;
  position: fixed;
  top: 2.8vh;
  left: 1.5vh;
  width: 40px;
  height: 45px;
  cursor: pointer;
  transition: all .9s ease-in-out;
}

.trace {
  border-radius: 6px;
  width: 100%;
  padding-bottom: .2rem;
  margin-top: .3rem;
  border: .5px solid #000000;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.2s ease-in-out;
}

.trace-wrapper, .nav-responsive {
  display: none;
}

@media (max-width: 750px) {
  .nav-wrapper {
    display:none;
  }

  .trace-wrapper, .nav-responsive{
    display: block;
  }

  a {
    font-family: 'Montserrat', sans-serif;
    background: #000000;  /* fallback for old browsers */
    border-radius: 6px;
    padding: 1vh;
    color: #fff;
  }


  .nav-responsive {
  position: fixed;
  top: 0rem;
  right: 0rem;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.637);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: all 0.4s;
}

.nav-link-responsive {
  z-index: 999;
}
}


