.portfolio-wrapper {
  width: 100vw;
  padding-top: calc(var(--nav-height) + 3vh);
  color: white;
  background: linear-gradient(to bottom right, #e6e4e4, #777777);
}

.cards-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  gap: 5vh;
  margin-top:5vh;
  padding-bottom: 5vh;
  flex-wrap: wrap;
  filter: grayscale(1);
}

.card {
  position: relative;
  background-color: rgba(83, 78, 78, 0.623);
  width: 40vw;
  height: 40vh;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all .4s;
  opacity: .1;
  border: 4px solid #3c3c3c;
  filter: brightness(.3);
}

.card:hover{
  cursor: pointer;
  filter: none;
  transform: rotate(0deg);
  -webkit-box-shadow: 5px 6px 0px 4px #2b2b2b; 
  box-shadow: 5px 6px 0px 4px #3c3c3c;
}

.card-text {
  border: 1px solid #2b2b2b;
  width: 32vw;
  position: absolute;
  bottom: 2vh;
  background: #000000d3;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 3px );
  padding: 1vh 1vw;
  padding-bottom: 2vh;
  border-radius: 6px;
  z-index: 999;
  transition: all .4s;
}
h1 {
  font-weight: bold;
  color: #ececec;
  font-size: 5vh;
  font-family: 'Tilt Prism', sans-serif;
}

p{
  width: 30vw;
  word-wrap: break-word;
  opacity: .7;
  font-weight: normal;
  font-size: 1.8vh;
  margin-bottom: 4vh;
  display: none;
  transition: all .4s;
  color: #c5c5c5;
  
}

.card:hover p {
  display:block;
}

.card-url {
  font-weight: bold;
  position: absolute;
  right: 1vh;
  bottom: 1vh;
  color: #222020;
  border: none;
  padding: .5vh 1vw;
  border-radius: 6px;
  background-color: #e2e0e0;
  text-decoration: none;
  transition: all .4s;
  cursor: pointer;
}

.card-url:hover {
  border: 1px solid rgba(44, 43, 43, 0.89);
  opacity: .6;
}

@media (max-width: 1200px) {  
  html {
    background-color: #ECE9E6;
  }

  .portfolio-wrapper {
    width: 100vw;
    padding-top: 8vh;
  }

  .cards-wrapper{
    gap: 5vh;
  }

  .card {
    border-radius: 6px 6px 6px 6px;
    border: 1px solid rgb(140, 140, 140);
    width: 90vw;
    height: 80vh;
    background-position-x: center;
    filter: none;
  }
  
  .card-text{
    height: 45vh;
    width: 90%;
    padding: 2vh 2vw;
  }
  h1{
    font-size: 4vh;
  }
  p {
    display: block;
    font-size: 2.5vh;
    margin-bottom: 4vh;
    width: 100%;
  }
  .card-url{
    width: 20vh;
    padding: 1vh 1vw;
    padding-left: 1rem;
    right: 3vw;
    bottom: 4vh;
  }
  .card:hover .card-url {
    border: 1px solid rgb(255, 255, 255);
  } 
}

