
    <div class="carousel" id="carousel">
        <div *ngFor="let project of projects"
            style="background-image: url('{{ project.img }}'); background-size: cover;"
            class="project-item animate__animated animate__fadeInDown"
            (click)="cardUrl(project.url)"> 
            <div class="project-text ">
                <h1>{{ project.title }}</h1>
                <p class="animate__animated animate__fadeInDown" >
                    {{ project.desc }}
                </p>
                <button class="project-url" *ngIf="project.privacity != 'privado'">Ver Projeto</button>
            </div>
        </div>
    </div>
