h2{
  position: sticky;
  top: 0;
  margin: 0px 0px 0px 0px;
  padding: 3vh 0px;
  bottom: 2vh;
  background: #f5f5f5f9;
  color: #000;
  z-index: 999;
  margin-top: calc(var(--nav-height) + 4vh);
  text-align: center;
}

.carousel {
  padding-top: calc(var(--nav-height) + 2vh);
  width: 100vw;
  background: #000000;  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:6vh;
  }

.project-item {
  border-radius: 6px;
  position: relative;
  z-index: 9;
  width: 40vw;
  height: 60vh; 
  background-repeat: no-repeat;
  background-position-x: center;
  transition: all .1s;
  filter: brightness(.7);
  cursor: pointer;
}

.project-item:hover  {
  border-left: 16px ridge #464646;
  filter: none;
}

.project-text {
    border: 1px solid #2b2b2b;
    width: 80%;
    position: absolute;
    bottom: 2vh;
    background: #000000e3;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 3px );
    padding: 1vh 1vw;
    padding-bottom: 2vh;
    border-radius: 6px;
    z-index: 99;
    transition: all .4s;
}

.project-item:hover p {
  display:block;
  filter: none;
}

h1 {
  transition: all .2s;
  font-weight: bold;
  color: #ecececfa;
  font-size: 5vh;
  font-family: 'Montserrat', sans-serif;
  padding-left: 1vw;
}

p{
  width: 80%;
  word-wrap: break-word;
  opacity: .6;
  font-weight: normal;
  font-size: 2vh;
  margin-bottom: 4vh;
  padding-left: 2vw;
  display: none;
  transition: all .4s;
  color: #c5c5c5e1;
}

.project-url {
  font-weight: bold;
  position: absolute;
  right: 1vh;
  bottom: 1vh;
  color: #222020;
  border: none;
  padding: .5vh 1vw;
  border-radius: 6px;
  background-color: #e2e0e0;
  text-decoration: none;
  transition: all .4s;
  cursor: pointer;
}

.project-url:hover {
  border: 1px solid rgba(44, 43, 43, 0.89);
  opacity: .6;
}

.fale-comigo {
  width: 100vw;
  height: 20vh;
  background: #797b7d34;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 3px );
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: space-evenly;
}

.icon-text {
  width: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5vw;
}

.fale-comigo-logo {
  width: 40px;
  filter: invert(.8);
}

a{
  color: #a1a1a1;
  transition: all 1s;
  opacity: .8;
  outline: none;
  text-decoration: none;
}

a:hover{
  color: #2fa9e2  ;
}

.span{
  position: absolute;
  right: -1rem;
  top: -1rem;
  z-index: 99;
  font-size: 2vh;
  background-color: #13d0ff;
  animation: 2s pisca infinite alternate;
  padding: 2vh;
  color: #fff;
  border-radius: 6px;
}


@keyframes pisca {
  from {
       filter: drop-shadow(0 0mm 1px #1d7cca);
   }

   to {
      background-color: #fff;
      color: #13d0ff;
   }
}


@media (max-width: 1000px) {  

  .project-item {
    border-radius: 6px 6px 6px 6px;
    border: 1px solid rgb(140, 140, 140);
    width: 90vw;
    height: 80vh;
    background-position-x: center;
    filter: none;
  }
  
  .project-text{
    height: 50vh;
    width: 90%;
    padding: 2vh 2vw;
  }

  h1 {
    font-size: 5vh;
  }

  p {
    display: block;
    font-size: 2.5vh;
    margin-bottom: 4vh;
    padding-right: 2vw;
    width: 95%;
  }

  .a-falecmg {
    display: none;
  }

}

@media (max-width: 750px) {
  h2{
    margin-top: 0px;
  }
}