<nav class="nav-wrapper animate__animated animate__flipInX">
  <div class="a-wrapper" routerLink="">
    <img src="assets/home.svg" alt="">
    <a>Home</a>
  </div>
  <div class="a-wrapper" routerLink="sobre">
    <img src="assets/about.svg" alt="">
    <a>Sobre</a>
  </div>
  <div class="a-wrapper" routerLink="projetos">
    <img src="assets/projects.svg" alt="">
    <a>Projetos</a>
  </div>
  <div class="a-wrapper"routerLink="contato">
    <img src="assets/contact.svg" alt="">
    <a>Contato</a>
  </div>
</nav>
<router-outlet></router-outlet>
