<div class="projetos-wrapper animate__animated animate__fadeIn">
  <div class="cards-wrapper">
    <div class="card animate__animated animate__pulse">
      <div class="card-content">
        <h1>Conversor </h1>
        <p>Esse projeto consiste em converter links de vídeos para download em formato mp3, mp4 e webm.</p>
        <a routerLink="/conversor">ir</a>
      </div>
    </div>
    <div class="card animate__animated animate__pulse">
      <div class="card-content ">
        <h1>Em breve... </h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque </p>
        <a routerLink="#">ir</a>
      </div>
    </div>
    <div class="card animate__animated animate__pulse">
      <div class="card-content ">
        <h1>Em breve... </h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque </p>
        <a routerLink="#">ir</a>
      </div>
    </div>
    <div class="card animate__animated animate__pulse">
      <div class="card-content ">
        <h1>Em breve... </h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque </p>
        <a routerLink="#">ir</a>
      </div>
    </div>
  </div>
</div>
