.projetos-wrapper{
  width: 100vw;
  height: 100vh;
  background: #aa4b6b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #202020, #6b6b83, #0200168c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #3f3f3fb0, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cards-wrapper{
  padding-top: 2.5rem;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.232);
  display: flex;
  flex-direction: row;
  gap: .5rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card{
  margin-top: 1.8rem;
  width: 22vw;
  height: 65vh;
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  position: relative;
  transition: all 0.2s;
  border: 1px solid #3636367a;
}

.card:hover{
  border: none;
  border: 1px solid #00ffd5 ;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 0px 12px 13px -7px #000000, 5px 5px 15px 5px rgba(31, 31, 31, 0.719);
}


.card:last-child{
  margin-bottom: 1.8rem;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: auto;
  right: auto;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fafafa;
  width: 100%;
  height: 7rem;
  transition: all 0.4s;
  background: #1615156c;
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 4px );
}

h1{
  font-size:.7rem;
  padding-left:.8rem;
  cursor: default;
}


p{
  font-size: .6rem;
  padding-left: .8rem;
  padding-right: .8rem;
}

a{
  width:100%;
  position: relative;
  margin-left: .8rem;
  padding: .05rem 1rem;
  color: #d3fff850;
  text-decoration:none;
  outline: none;
  border: 1px solid #00ffd5d8;
  border-radius: 6px;
  transition: all 0.4s;
}

a:hover{
  -webkit-box-shadow: 0px 0px 0px 7px #00ffd5;
  box-shadow: 0px 0px 0px 2px #00ffd5;
  color: #00ffd5;
  padding-right: 3rem;
  padding-left: 3rem;
}
@media (max-width: 850px) {
  .card{
    width: 70vw;
  }
  .card:hover{
    width: 72vw;
  }
}

