<div class="projetos-wrapper animate__animated animate__fadeInLeft">
<div class="cards-wrapper">
  <div class="card">

    <div class="card-content">
      <h1>Em breve (Conversor MP3)</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-content">

      <h1>Em breve...</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-content">

      <h1>Em breve...</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-content">

      <h1>Em breve...</h1>
    </div>
  </div>

</div>
</div>
