.footerMobile-wrapper{
  position:absolute;
  bottom: 0;
  width: 100vw;
  height: 24vh;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background: #6190e857;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #57276667, #176d6160); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 2px );
  border-top: 1px solid rgba(80, 19, 138, 0.637);
}

a{
  margin: 0 0;
  padding: 0 0;
  border-radius: 100%;
  height: 3rem;
}

img{
  border-radius: 100%;
  filter: grayscale(100%);
  cursor:pointer;
  width: 20vw;
  height: 3rem;
  transition: all 0.3s;

}

img:hover{
  border: 1px solid #00ffd5;
  filter: grayscale(0);
  filter: saturate(2);
  padding: .2rem .5rem;
}



@media (min-width: 850px) {
  .footerMobile-wrapper{
    display: none;
  }
}
