*{
  padding: 0;
  margin: 0;
}

.home-wrapper{
  position: relative;
  /* background-color: #5f8b8b; */
  background: #00c3ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
}

.home-wrapper {
  --s:67px; /* shape size */
  --m:4px;  /* line thickness */
  --v1: rgba(255, 255, 255, 0.671) 119.5deg, #0000 120.5deg;
  --v2: rgb(0, 0, 0)  119.5deg, #0000 120.5deg;
  background:
    conic-gradient(at var(--m)              calc(var(--s)*0.5777), transparent 270deg, rgb(3, 97, 104) 0deg),
    conic-gradient(at calc(100% - var(--m)) calc(var(--s)*0.5777), rgb(10, 0, 54) 90deg,  transparent 0deg),
    conic-gradient(from -60deg at 50% calc(var(--s)*0.8662)             , var(--v1)),
    conic-gradient(from -60deg at 50% calc(var(--s)*0.8662 + 2*var(--m)), var(--v2)),
    conic-gradient(from 120deg at 50% calc(var(--s)*1.4435 + 3*var(--m)), var(--v1)),
    conic-gradient(from 120deg at 50% calc(var(--s)*1.4435 +   var(--m)), var(--v2)),
    linear-gradient(90deg, rgb(255, 255, 255) calc(50% - var(--m)),#030011 0 calc(50% + var(--m)), rgba(199, 199, 199, 0.795) 0);
  background-size: calc(var(--s) + 2*var(--m)) calc(var(--s)*1.732 + 3*var(--m));
  mix-blend-mode:lighten;
}
.home-wrapper:before {
  content: "";
  position: absolute;
  inset: 0;
  background:linear-gradient(-20deg,#022441f1 ,#000f13ee,#070129ea) left/400% 100%;
  animation:f 8s infinite alternate linear;
}

@keyframes f {
  100% {
    background-position:right;
  }
}

.title{
  padding-top: 18vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}

h1{
  margin: 0;
  color:#e4e4e4;
  font-size: 4rem;
  padding: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.103);
  backdrop-filter: blur( 20% );
  -webkit-backdrop-filter: blur( 20% );
  border: 1px solid #00ffd5;
  /* text-shadow: #ffffff 2px 1px 0; */
  border-radius: 14px;
  padding: 1rem 1rem;
  background: -webkit-linear-gradient(#00e24be3,#a200ffe3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .4s;

}

h1:hover{
  background: -webkit-linear-gradient(#9511e2e3 , #00e24be3);
  -webkit-background-clip: text;
  letter-spacing: .08rem;
  border-radius: 45px;
}

h2{
  padding: 0 1rem;
  font-size: 3rem;
  color: #5c3ea1;
  font-family: 'Satisfy', cursive;
  transition: all 1s;
  cursor: help;
  text-shadow: 2px 2px 2px #28966D;
}

@media (max-width: 850px) {
  .title{
    gap: 2rem;
  }

  h1{
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    font-size: 20vw;
    z-index: 100;
  }
  h1:hover{
    letter-spacing: 0;
  }
  h2{
    font-size: 1.2rem;
    height:  4rem;
  }
}
