.home-wrapper {
  padding-top: 5vh;
  position: relative;
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-self: center;
  --s: 82px; /* control the size */
  --c1: #b2b2b2;
  --c2: #ffffff;
  --c3: #d9d9d9;
  
  --_g: var(--c3) 0 120deg,#0000 0;
  background:
    conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
    conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
    conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
    conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
    linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                          var(--c1) 0 calc(500%/6),var(--c2) 0);
  background-size: calc(1.732*var(--s)) var(--s);
  
}

.text {
  padding-top: 12vh;
}

h1 {
  border-radius: 6px;
  color: #fff;
  font-size: 8rem;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background: #000000b6;
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  margin-top: 5rem;
  padding-left: 1vw;
  padding-top: 2vh;
  padding-right: 1vw;
}

h2 {
  color: #4b4b4b;
  font-family: 'Montserrat', Arial;
  font-size: 2.4rem;
  text-align: center;
  background: #c7c7c7a8;
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 6px;
  padding-left: .5vw;
}

h1::selection, h2::selection{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.btn-home {
  margin-top: 5vh;
  font-family: 'Josefin Sans', cursive;
  font-size: 4vh;
  font-weight: bold;
  width: 100%;
  height: 8vh;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #101111;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #34373a, #101111);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #34373a, #101111); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all .2s;
  color: rgb(231, 231, 231);
  opacity: 1;
}

.btn-home:hover{
  animation: load 2s;
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 3px );
  -webkit-box-shadow: 5px 6px 0px 4px #505050; 
  box-shadow: 5px 6px 0px 4px #505050;
}

#home-img {
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 30%;
  filter: brightness(0);
}

@media (max-width: 1300px) {  
  .home-wrapper {
    padding-top: 0vh;
    height: 100vh;
    overflow: hidden;
    align-items: center;
  }
  .text {
    padding-top:unset;
    margin: 0 5vw;
  }

  h1 {
    border-radius: 6px;
    padding: 1vh 1vw;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    text-align: center;
    padding-top: 2vh;
  }

  h2 {
    margin-bottom: 5rem;
    padding: 1vh;
    border-radius: 6px;
    font-size: 2rem;
  }
  
  .btn-home {
  }

  .image-wrapper {
    display: none;
  }

}

