.home-wrapper {
  padding-top: 5vh;
  position: relative;
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  background: linear-gradient(to bottom right, #ffffff, #f7f7f7);
}

.text {
  padding-top: 12vh;
}

h1 {
  font-size: 9rem;
  margin: 0;
  font-family: 'Tilt Prism', cursive;

  padding-top: 5rem;
}

h2 {
  font-family: 'Babylonica';
  font-size: 6rem;
  background-color: #000000;
  color: #CDCDCD;
  border-radius: 6px;
  padding-left: .5vw;
  transition: all 1s;
}


h1::selection, h2::selection{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

#home-img {
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 30%;
  filter: brightness(0);
}

@media (max-width: 1200px) {  
  .home-wrapper {
    height: 100vh;
    padding-top: 0;
    overflow: hidden;
  }

  h1 {
    border-radius: 6px;
    padding: 1vh 1vw;
    font-family: 'Tilt Prism', cursive;
    font-size: 3rem;
    text-align: center;
  }

  h2 {
    padding: 1vh;
    text-align: center;
    border-radius: 6px;
    font-size: 2.5rem;
  }
  
  .image-wrapper {
    position: absolute;
    bottom: -1vh;
    right: -2vw;
  }

  #home-img {
    height: 60vh;
    width: 80vw;
    border-radius: 0;
  }
}
