.home-wrapper {
  padding-top: 5vh;
  position: relative;
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  background: #F2F2F2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #c0c0c0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #c0c0c0, #F2F2F2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.text {
  padding-top: 12vh;
}

h1 {
  font-family: 'Gloock', serif;
  font-size: 9rem;
  margin: 0;
  padding-top: 5rem;
}

h2 {
  font-family: 'Babylonica';
  font-size: 6rem;
  color: #8a8a8a;
}

#home-img {
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 30%;
  filter: brightness(0);
}

@media (max-width: 1200px) {  
  .home-wrapper {
    height: 100vh;
    padding-top: 0;
    overflow: hidden;
  }

  h1 {
    padding-top: 1rem;
    font-family: 'Gloock', serif;
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }

  .image-wrapper {
    position: absolute;
    bottom: -5vh;
    right: -2vw;
  }

  #home-img {
    height: 60vh;
    width: 85vw;
    border-radius: 0;
  }
}