<div class="home-wrapper animate__animated animate__fadeIn">

  <div class="text">
    <h1 class="animate__animated animate__zoomInDown">Samuel Victor</h1>
    <h2 class="animate__animated animate__flipInX">Software Development</h2>
    <button (mouseenter)="startTrip('sobre')" (click)="startTrip('sobre')" class="btn-home">Quem sou ??</button>
  </div>
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
