<div class="conversor-wrapper">
    <button (click)="voltar()" class="btn-voltar">Voltar</button>
    <button (click)="toggleWrappers()" id="btn-convert-again">Converter Novamente</button>
    <div id="convert-wrapper" class="convert-wrapper">
        <img (click)="help()" id="help-btn" src="assets/help.svg" alt="help">
        <h1>Conversor Links para MP3 e MP4</h1>
        <input type="text" class="conversor-input" placeholder="insira aqui o link do video">
        <button (click)="converter()" class="btn-conversor" >Converter</button>
            <a target="_blank" href="https://github.com/matthew-asuncion/Fast-YouTube-to-MP3-Converter-API">CRÉDITOS | API</a>
    </div>
</div>
